<mat-toolbar color="primary">
  <span class="logo">SAAD AHMED</span>
  <span class="spacer"></span>
  <!-- <mat-menu #appMenu="matMenu">
    <button mat-menu-item>ABOUT</button>
    <button mat-menu-item>SKILLS</button>
    <button mat-menu-item>PROJECTS</button>
    <button mat-menu-item>EDUCATION</button>
    <button mat-menu-item>CERTIFICATES</button>
  </mat-menu>
  <button mat-button [matMenuTriggerFor]="appMenu">MENU</button> -->
  <ul>
    <li><a routerLinkActive="focused" (click)="navigateTo('/')">ABOUT</a></li>
    <li>
      <a routerLinkActive="focused" (click)="navigateTo('/')" fragment="skills"
        >SKILLS</a
      >
    </li>
    <li>
      <a
        routerLinkActive="focused"
        (click)="navigateTo('/experience')"
        fragment="experience"
        >EXPERIENCE</a
      >
    </li>
    <li>
      <a
        routerLinkActive="focused"
        fragment="projects"
        (click)="navigateTo('/experience')"
        >PROJECTS</a
      >
    </li>
    <li>
      <a routerLinkActive="focused" (click)="navigateTo('/credentials')"
        >CREDENTIALS</a
      >
    </li>
  </ul>
  <span class="spacer"></span>
  <button mat-raised-button color="primary">RESUME</button>
</mat-toolbar>
