<mat-toolbar color="primary">
  <span class="logo">SAAD AHMED</span>
  <span class="spacer"></span>
  <ul>
    <li><a routerLinkActive="focused" routerLink="/main">ABOUT</a></li>
    <li>
      <a routerLink="/main" routerLinkActive="focused" fragment="skills"
        >SKILLS</a
      >
    </li>
    <li>
      <a routerLinkActive="focused" routerLink="/experience">EXPERIENCE</a>
    </li>
    <li>
      <a routerLinkActive="focused" fragment="projects" routerLink="/experience"
        >PROJECTS</a
      >
    </li>
    <li>
      <a routerLinkActive="focused" routerLink="/credentials">CREDENTIALS</a>
    </li>
  </ul>
  <span class="spacer"></span>
  <button mat-raised-button color="primary">RESUME</button>
</mat-toolbar>
