<div class="footer-container">
  <div class="footer-section">
    <h2>
      Mixing <span class="aesthetics">tech</span> with
      <span class="functionality">value generation</span>
    </h2>
  </div>

  <div class="footer-section explore">
    <h3>Explore</h3>
    <ul>
      <li>Home</li>
      <li>About Me</li>
      <li>Contact</li>
    </ul>
  </div>

  <div class="footer-section follow-me">
    <h3>Follow Me</h3>
    <ul>
      <li>
        <a href="{{ linkedInUrl }}" target="_blank"
          ><i class="fa-brands fa-linkedin"></i> LinkedIn</a
        >
      </li>

      <li>
        <a href="{{ githubUrl }}" target="_blank"
          ><i class="fa-brands fa-github"></i> Github</a
        >
      </li>
      <!-- <li>
        <a href="#"><i class="fa-brands fa-github"></i> LeetCode</a>
      </li> -->
    </ul>
  </div>

  <div class="footer-section contact-me">
    <a href="#"
      >Contact Me <i class="fa fa-arrow-right"></i> <span>Say Hello !</span></a
    >
    <a href="#"
      >My Projects <i class="fa fa-arrow-right"></i
      ><span>Explore Projects</span>
    </a>
  </div>

  <div class="footer-section footer-bottom">
    <p>saad189 ©2024 - <a href="#">Privacy Policy</a></p>
    <p>Pakistan</p>
  </div>
</div>
