/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: monospace !important;
  color: black !important;
}
.focused {
  color: #ff4081; /* Example color */
  font-weight: bold; /* Example style */
  border-bottom: 2px solid #ff4081; /* Example style */
}
